form {
  width: 100%;
  border: 1px solid orangered;
}

input {
  height: 50px;
  border: none;
  padding-left: 20px;
  width: 90%;
}

button {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  background-color: orangered;
  color: white;
  border: none;
  margin-left: 10px;
}
